*{
  box-sizing: border-box;
}

#nav{
  background-color: orange;
  width: 100%;
  position: fixed;  /*位置固定不動*/
  top: 0;
  left:0;
  z-index: 100; /*放在第100圖層(數字越多越上面）*/
}

#content{
  position: relative;
  top:78px;
  padding: 15px;
}

#content > .container > div{
  padding: 78px 0;
}

.container{
  width: 800px;
  margin:0 auto;
}

.menu{
  float: right;
}

.menu li{
  width: 150px;
  padding: 10px 0px;

  border: 1px solid white;
  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  background-color: orange;
  color: white;
  display: inline-block;
}

a{
  display: block; /*這樣連結的範圍才會包含padding*/
  color: white;
  text-decoration: none;
}

li:hover{   /* :hover指游標滑過時才會觸發的樣式*/;
  border:1px solid orange;
  background-color: white;
}

li:hover a{   /*li:hover下a(連結)的樣式*/
  color: orange;
  font-weight: 800;
}

#my_avator{
  float: left;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 30px;
}

#my_avator img{
  width: 150px;
}

hr.bar{
  border: 2px solid orange;
  width: 80px;
}

h1{
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}

#about h1{
  text-align: left;
}

h3{
  margin:0; 
}

table{
  font-size: 14px;
  text-align: left;
}

th, td{
  vertical-align: top;
  padding-bottom: 5px;
}

td{
  color: #666;
  padding-left: 10px;
}

hr{
  border: 0.5px solid lightgray;
}

#my_work_gallery{
  float:center;
  text-align: center;
}

.item{
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-bottom:10px;
}

.item img{
  width: 100%;
}

.item_info{
  width: 100%;
  height:100%;
  opacity: 0;   /*設定透明*/

  text-align: center;
  padding: 25px 10px;
  background-color: rgba(255,255,255,.8); /*rgba設定背景半透明*/

  position: absolute;
  top:0;
  left:0;
  overflow: auto;
}

.item_info:hover{ /*當滑鼠滑過時的動作*/
  opacity: 1; /*不透明*/
}

form.contact_form{
  width: 50%;
  margin: auto;
}

.form_row{
  margin-bottom: 10px;
}

.form_row input, .form_row textarea{
  border: 1px solid lightgray;
  border-top-right-radius: 10px;
  width: 100%;
  padding:7px;
}

.form_row textarea{
  rezie:none;  /*設定為user不r可調整大小*/
  height: 4em; /*em是字體大小單位, 這裡指4行字的高度*/
}

.form_row button{
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  cursor:pointer; /*滑鼠滑過的時候顯示一隻手的圖示*/
  margin-right: 10px;
}

.form_row button[type="submit"]{
  background-color: #5995DA;
  color: white;
}

.form_row button[type="submit"]:hover{
  background-color: #225577;
  color: white;
}

.form_row button[type="reset"]:hover{
  background-color: #818384;
  color: white;
}

.form_row button:active{
  background-color: #407FC7;
}